.check{
	min-height:552px;
	width:1090px;
	margin:0 auto;
	padding-top:34px;
	.check_title{
		color:#9e281e;
		font-size:16px;
		span{
			margin-left:15px;
		}
	}
	.check_shopbox{
		min-height:500px;
		width:100%;
		margin-top:30px;
		.check_shopbox_ul{
			padding-bottom:30px;
			border:1px solid #ebebeb;
			border-radius:5px;
			background:#fff;
			.check_shop_info{
				height:39px;
				border-bottom:1px solid #ebebeb;
				p{
					float:left;
					text-align:center;
					line-height:39px;
					height:39px;
				}
				.check_shop_info_title{
					width:485px;
				}
				.check_shop_info_for{
					width:176px;
				}
				.check_shop_info_price{
					width:176px;
				}
				.check_shop_info_num{
					width:64px;
				}
				.check_shop_info_operation{
					width:180px;
				}
			}
			li{
				height:130px;
				margin-bottom:10px;
				background:#dff1fd;
				position:relative;
				p{
					float:left;
					text-align:center;
					padding-top:20px;
					overflow:hidden;
				}
				.check_check{
					position:absolute;
					top:50%;
					left:10px;
					margin-top:-2px;
				}
				img{
					width:79px;
					height:79px;
					position:absolute;
					top:50%;
					left:30px;
					margin-top:-40px;
				}
				.check_shop_subtit{
					padding-top:20px;
					width:370px;
					margin-left:130px;
					font-size:14px;
					line-height:24px;
					color:#000502;
					overflow:hidden;
					text-align:left;
				}
				.check_shop_title{
					padding-top:20px;
					width:176px;
					overflow:hidden;
					line-height:24px;
					max-height:100px;
				}
				.check_shop_price{
					width:176px;
					padding-top:50px;
					overflow:hidden;
				}
				.check_shop_num{
					width:84px;
					padding-top:50px;
					overflow:hidden;
					input{
						width:30px;
						height:22px;
						float:left;
						text-align:center;
					}
					a{
						display:inline-block;
						float:left;
						width:22px;
						height:22px;
						border:1px solid #666;
						background:#fff;
						color:#000502;
					}
				}
				.check_shop_operation{
					width:120px;
					overflow:hidden;
					padding-top:50px;
					a{
						font-size:14px;
						color:#000502;
					}
				}
			}
		}
		.check_settle{
			height:160px;
			background:#fff;
			margin-top:40px;
			margin-bottom: 20px;
			border-radius:5px;
			padding-top:10px;
			.check_settle_title{
				height:32px;
				line-height:32px;
				padding-left:20px;
				span{
					color:#727270;
				}
				.check_remove{
					margin-left:30px;
					font-size:14px;
					color:#727270;
				}
			}
		}
		.check_settle_cart_info{
			.cart_info{
				margin-left:30px;
				font-size:16px;
				color:#727270;
				.cart_info_num{
					font-size:24px;
					color:#e65478;
				}
				.cart_info_price{
					font-size:24px;
					color:#e65478;
				}
			}
			.settle{
				height:30px;
				margin-top:30px;
				text-align:center;
				button{
					height:38px;
					width:138px;
					color:#fff;
					background:#ec3e7d;
					border:none;
					font-size:20px;
					margin-right:5px;
					i{
						font-size:20px;
						margin-right:5px;
					}
				}
				.payment{
					width:500px;
					height:500px;
					position:fixed;
					top:100px;
					left:50%;
					margin-left:-200px;
					z-index:1000;
					font-size:24px;
					text-align:center;
					color:#ec3e7d;
					font-weight:bold;
					display:none;
					background:#fff;
					img{
						width:100%;
						height:100%;
					}
				}
			}
		}

	}
}
#sasacategory{
	>ul{
		display:none;
	}
}