#sasacategory{
	>ul{
		display:none;
	}
}
.se_container{
	height:800px;
	width:1200px;
	margin:0 auto;
	.se_title{
		margin-top:10px;
		margin-bottom:10px;
		a{
			color:#888888;
			font-size:14px;
		}
	}
	.se_top{
		height:58px;
		line-height:58px;
		font-size:24px;
		color:#fff;
		position:relative;
		padding-left:30px;
		background:#bf9b5f;
		.endtime{

			font-size:24px;
			color:#fff;
			i{
				font-size:24px;
				margin-right:30px;
			}
		}
		b{
			display:inline-block;
			width:100px;
			height:100%;
			margin-left:100px;
			color:#fff;
			font-size:24px;
		}
		.se_people{
			font-size:18px;
			margin-left:400px;
			strong{
				font-size:28px;
				font-weight:700;
			}
		}
		.se_san{
			width:20px;
			height:20px;
			background:url(../images/tips.png) no-repeat -360px -405px;
			position:absolute;
			left:40px;
			top:53px;
		}
	}
	.se_limi{
		width:100%;
		height:621px;
		background:#fff;
		.se_page{
			width:550px;
			height:100%;
			float:left;
			position:relative;
			i{
				display:block;
				width:68px;
				height:72px;
				padding:36px 40px 0 0;
				margin-left:35px;
				margin-top:10px;
				color:#fff;
				background:url(../images/tips.png) no-repeat 0 -489px;
				span{
					font-size:40px;
					margin-left:5px;
				}
			}
			.se_magnifier{
				width:300px;
				height:300px;
				margin:0 auto;
				position:relative;
				.se_wrap{
					width:100%;
					height:100%;
					position:absolute;
					top:0;
					left:0;
					z-index:999;
				}
				img{
					width:300px;
					height:300px;
				}
				#se_mag{
					background:#B3D5FF;
					opacity:0.5;
					z-index:200;
					cursor:move;
					display:none;
					z-index:200;
					position:absolute;
				}
				#se_bag{
					width:300px;
					height:300px;
					display:block;
					overflow:hidden;
					display:none;
					position:absolute;
					top:0px;
					left:450px;
					background:#fff;
					border:1px solid #ddd;
					.se_bgimg{
						width:300%;
						height:300%;
						position:absolute;
					}
				}
			}
			.se_country{
				display:block;
				margin-left:45px;
				line-height:24px;
				height:24px;
				color:#999;
				img{
					float:left;
				}
			}
			.se_padglist{
				width:505px;
				height:100px;
				margin-top:20px;
				padding-left:45px;
				position:relative;
				img{
					border:5px solid #e5cbb2;
					width:93px;
					height:93px;
				}
				.se_prev{
					font-size:28px;
					color:#ccc;
					position:absolute;
					top:50%;
					margin-top:-14px;
					left:20px;
				}
				.se_next{
					font-size:28px;
					color:#ccc;
					position:absolute;
					top:50%;
					margin-top:-14px;
					right:20px;
				}
			}
		}
		.se_info{
			width:570px;
			float:right;
			margin-right:40px;
			padding-top:25px;
			.se_title{
				font-size:22px;
				text-align:left;
				color:#3e3e3e;
				padding-bottom:30px;
			}
			.se_sebli1{
				color:#3e3e3e;
				font-size:26px;
				height:26px;
				font-size:18px;
			}
			.se_sebli2{
				color:#505a64;
				font-size:18px;
				line-height:26px;
				height:26px;
			}
			.se_much{
				height:26px;
				color:#3e3e3e;
				font-size:14px;
				margin-top:20px;
				margin-bottom:20px;
				a{
					font-size:14px;
					display:inline-block;
					width:20px;
					height:20px;
					background:#ddd;
					color:#fff;
					text-align:center;
				}
				.se_jian{
					margin-left:30px;
				}
				input{
					width:30px;
					height:21px;
					line-height:21px;
					border:1px solid #f2f2f2;
					text-align:center;
					margin-left:5px;
					margin-right:5px;
				}
			}
			.se_price{
				color:#222;
				font-size:16px;
				.se_newprice{
					font-size:24px;
					color:red;
					font-weight:600;
				}
				.se_oldprice{
					font-size: 16px;
					margin-left:10px;
					color:#d3d3d3;
					text-decoration: line-through;
				}
			}
			.se_add{
				margin-top:20px;
				margin-bottom:20px;
				.se_shopcar{
					width:120px;
					height:50px;
					border:none;
					background:#fe3432;
					color:#fff;
					font-size:16px;
					text-align:center;
					line-height:50px;
					margin-right:20px;
				}
				.se_sao{
					display:inline-block;
					width:190px;
					height:50px;
					line-height:50px;
					text-align:center;
					color:#999999;
					background:#fff;
					border:1px solid #dedede;
				}	
			}
			.se_score{
				color:#3e3e3e;
				margin-bottom:30px;
				i{
					color:#fe3443;
				}
			}
			.se_collection{
				border-top:1px solid #dfdfdf;
				padding-top:30px;
				.se_collectionspan{
					color:#666;
					padding:0 3px;
				}
				.se_share{
					float:right;
					strong{
						color:#3e3e3e;
					}
				}
			}
		}
	}
}
.se_reviews{
	width:1200px;
	height:1204px;
	margin:0 auto;
	padding-top:20px;
	margin-bottom:20px;
	.se_recommend{
		width:253px;
		height:596px;
		background:#fff;
		float:left;
		.se_recommend_title{
			height:50px;
			line-height:50px;
			border-left:5px solid #c69a62;
			border-bottom:1px solid #ebebeb;
			color:#585c65;
			font-size:18px;
			padding-left:12px;
		}
		ul{
			li{
				height:69px;
				border-top:1px solid #d4d4d4;
				padding:20px 10px;
				img{
					width:69px;
					height:69px;
					float:left;
				}
				p{
					color:#3e3e3e;
				}
				.se_recommend_new{
					color:#ec3e7d;
					font-size:14px;
				}
				.se_recommend_old{
					color:#959595;
					font-size:12px;
					margin-left:10px;
					text-decoration:line-through;
				}
			}
		}
	}
	.se_details{
		width:920px;
		float:right;
		height:248px;
		line-height:32px;
		font-weight:400;
		font-size:21px;
		background:#fff;
		padding-top:20px;
		.se_details_title{
			padding-left:10px;
			border-left:3px solid #db3f7e;
			background:url(../images/probt.png) no-repeat 110px 3px;
		}
		ul{
			padding:30px 45px;
			li{
				padding:6px 0;
				color:#333;
				height:34px;
				width:830px;
				.se_mc{
					float:left;
					color:#666;
					font-size:14px;
				}
				.se_xq{
					display:block;
					width:580px;
					text-align:left;
					float:right;
					font-size:14px;
					color:#333;
				}
			}
		}
	}
	.se_reviews_comi{
		width:920px;
		float:right;
		height:800px;
		margin-top:20px;
		line-height:32px;
		font-weight:400;
		font-size:21px;
		background:#fff;
		padding-top:20px;
		.se_reviews_title{
			padding-left:10px;
			border-left:3px solid #db3f7e;
			background:url(../images/probt.png) no-repeat 110px -146px;
		}
		.se_evaluate{
			margin-top:40px;
			margin-left:55px;
			font-size:36px;
			color:#db3f7e;
			font-weight:bold;
			i{
				font-size:24px;
			}
		}
		.se_assess{
			margin-top:50px;
			li{
				width:900px;
				height:192px;
				margin:0 auto;
				margin-top:20px;
				.se_assess_title{
					width:120px;
					text-align:center;
					height:132px;
					margin-top:20px;
					float:left;
					margin-right:5px;
					img{
						border-radius:50%;
						margin:0 auto;
						width:60px;
						height:60px;
					}
					.se_assess_title_vip{
						font-size:16px;
						color:#3e3e3e;
					}
					.se_assess_title_user{
						font-size:14px;
						color:#3e3e3e;
					}
					.se_assess_title_skin{
						color:#b2b2b2;
						font-size:14px;
					}
				}
				.se_discuss{
					width:575px;
					height:150px;
					padding:20px 24px;
					margin:0 auto;
					background:#f2f2f2;
					position:relative;
					border-radius:5px;
					.se_sanjiao{
						position:absolute;
						top:10px;
						left:-20px;
						font-size:30px;
						color:#f2f2f2;
					}
					.se_discuss_title{
						width:575px;
						height:23px;
						line-height:23px;
						border-bottom:1px solid #ec3e7d;
						padding-bottom:5px;
						text-align:center;
						font-size:14px;
						span{
							color:#ec3e7d;
							float:left;
						}
						i{
							color:#ec3e7d;
						}
					}
					.se_comment{
						margin-top:20px;
						p{
							font-size:14px;
						}
					}
					.se_time{
						position:absolute;
						bottom:20px;
						left:20px;
						color:#bebebe;
						font-size:14px;
					}
				}
			}
		}
	}
}
#secilll_ul{
	.navtabitem{
		float:left;
		display:inline-block;
		overflow:hidden;
		padding:0 5px;
		text-align:center;
		a{
			color:#111111;
			display:block;
			font-size:16px;
			float:left;
		}
		.hoticon{
				width:25px;
				height:16px;
				background:url("../images/top_hot_icon.png") no-repeat;
				display:inline-block;
				margin-left:3px;
				margin-bottom:-1px;
		}
	}
	.navtabsep{
		float:left;
		display:inline-block;
		overflow:hidden;
		padding:0 5px;
		width:20px !important;
		text-align:center !important;
		margin : 0 !important;
		a{
			font-size:16px;
			color:#eee !important;
			font-weight:100;
		}
	}
}
