@import "reset";
@function pxToRem($px){
	@return $px/16px *1rem
}
@mixin sizecolor{
	color:red;
}
@mixin bg{
	background:#f2f2f2;
}
@mixin wid{
	width:1200px;
	margin:0 auto;
}
@mixin ahover{
	color:#ec3e7d;
}
body{
	@include bg;
}
/*顶部导航栏*/
#topbar{
	height:32px;
	line-height:32px;
	@include bg;
	font-size:12px;
	color:#6c6c6c;
	border-bottom:1px solid #e5e5e5;
	.top{
		@include wid;
		.toplogin{
			float:left;
			.login{
				margin-left:10px;
			}
			a{
				@include ahover;
				text-decoration: underline
			}
		}
		#bar{
			float:right;
			text-align:right;
			>ul{
				>li{
					border:none;
					display:inline-block;
					height:32px;
					position:relative;
					a{
						display:block;
						padding:0 12px;
						font-weight:normal;
						color:#6c6c6c;
						i{
							color:#ec3e7d;
							margin-right:3px;
							font-weight:bold;
						}
					}
					ul{
						width:86px;
						padding:0;
						background:#fff;
						z-index:10000;
						height:0;
						text-align:left;
						overflow:hidden;
						position:absolute;
						top:32px;
						left:0;
					}
				}
				.in_shop{
					button{
						width:100%;
						height:100%;
						display:inline-block;
						border:none;
						background:none;
						outline:none;
						color:#6c6c6c;
					}
				}
			}
		}
	}
}
/*搜索栏*/
#head{
	background:#fff;
	position:relative;
	z-index:300;
	.headsearch{
		@include wid;
		height:95px;
		position:relative;
		#search{
			position:absolute;
			top:21px;
			left:400px;
			.searchinput{
				background:#ec3e7d;
				width:346px;
				height:36px;
				float:left;
				position:relative;
				input{
					border:none;
					width:330px;
					height:24px;
					line-height:24px;
					padding:3px 5px;
					font-size:14px;
					position:absolute;
					left:3px;
					top:3px;
					color:#999;
				}
			}
			button{
					border:none;
					color:white;
					text-align:center;
					background-color:#ec3e7d;
					width:90px;
					height:36px;
					line-height:36px;
					float:left;
					cursor:pointer;
					text-shadow:none;
					padding:0;
				}
			.hotword{
				width:500px;
				height:30px;
				line-height:30px;
				overflow:hidden;
				clear:both;
				font-size:12px;
				text-align:left;
				a{
					color:#999;
					border-left:1px solid #999;
					line-height:14px;
					height:14px;
					display:inline-block;
					padding:0 10px;
					margin:0 10px 0 -10px;
				}
			}
		}
	}
}
/*商品导航栏*/
#nav{
	width:100%;
	height:36px;
	background:#fff;
	.navcenr{
		@include wid;
		#category{
			background:#333;
			float:left;
			position:relative;
			width:190px;
			height:36px;
			font-size:12px;
			z-index:500;
			.cate{
				color:#fff;
				font-size:16px;
				position:absolute;
				box-sizing:border-box;
				padding-left:16px;
				top:0;
				height:36px;
				line-height:36px;
				cursor:auto;
				background:#333;
				.categoryicon{
					width:16px;
					height:20px;
					margin-top:7px;
					float:left;
					margin-right:17px;
					.sasacategoryicon{
						width:100%;
						height:25%;
						border-bottom:1px solid #fff;
					}
				}
			}
			#sasacategory{
				position:absolute;
				top:36px;
				>ul{
					>li{
						width:162px;
						height:29px;
						padding:11px 14px;
						position:relative;
						background:#fa3778;
						border-bottom:1px dotted #fe7dab;
						div{
							height:30px;
							line-height:30px;
							float:left;
							padding-left:35px;
							overflow:hidden;
							background-image:url("../images/pc_categorym-01.png");
							a{
								font-size:16px;
								color:#fff;
							}
						}
						i{
							display:block;
							float:right;
							color:#fff;
							width:20px;
							height:30px;
							text-align:center;
							line-height:30px;
							font-size:16px;
						}
						.arrow_1{
							background-repeat:no-repeat;
							background-position:0 -5px;
						}
						.arrow_2{
							background-repeat:no-repeat;
							background-position:0 -40px;
						}
						.arrow_3{
							background-repeat:no-repeat;
							background-position:0 -72px;
						}
						.arrow_4{
							background-repeat:no-repeat;
							background-position:0 -102px;
						}
						.arrow_5{
							background-repeat:no-repeat;
							background-position:0 -135px;
						}
						.arrow_6{
							background-repeat:no-repeat;
							background-position:0 -172px;
						}
						.arrow_7{
							background-repeat:no-repeat;
							background-position:0 -204px;
						}
						.arrow_8{
							background-repeat:no-repeat;
							background-position:0 -237px;
						}
						ul{
							display:none;
							width:340px;
							height:auto;
							background:#fff;
							padding:10px 25px;
							overflow:hidden;
							border:1px solid #fa3778;
							position:absolute;
							left:190px;
							top:0px;
							>li{
								height:81px;
								width:100%;
								p{
									font-size:14px;
									font-weight:bold;
									color:#555;
								}
								span{
									font-size:12px;
									color:#999;
									padding:0 5px;
									display:inline-block;
									cursor:pointer;
									line-height:24px;
									text-align:center;
								}
							}
						}
					}
					.catehalf{
						height:30px;
					}
				}
			}
		}
		#navtab{
			float:left;
			height:36px;
			line-height:36px;
			position:relative;
			margin-left:20px;
			ul{
				.navtabitem{
					float:left;
					display:inline-block;
					overflow:hidden;
					padding:0 5px;
					text-align:center;
					a{
						color:#111111;
						display:block;
						font-size:16px;
						float:left;
					}
					.hoticon{
							width:25px;
							height:16px;
							background:url("../images/top_hot_icon.png") no-repeat;
							display:inline-block;
							margin-left:3px;
							margin-bottom:-1px;
					}
				}
				.navtabsep{
					float:left;
					display:inline-block;
					overflow:hidden;
					padding:0 5px;
					width:20px !important;
					text-align:center !important;
					margin : 0 !important;
					a{
						font-size:16px;
						color:#eee !important;
						font-weight:100;
					}
				}
			}
		}
	}
}
/*轮播图*/
#banner{
	width:100%;
	margin:0 auto;
    background:#e7ddd4;
    position:relative;
	.box{
		height:420px;
		overflow: hidden;
		width:1578px;
		position:absolute;
		top:0;
		left:50%;
		margin-left:-789px;
		ul{
				li{
					position:absolute;
					top:0;
					left:0;
					height:420px;
					width:100%;
					list-style: none;
					display:block;
					overflow: hidden;
					border:0;
					margin:0;
					img{
						height:420px;
						width:100%;
						margin: 0 auto;
					}
				}
			}
		}
}
/*公告栏*/
.notice{
	width:100%;
	background-color:#ececec;
	.broadcast{
		font-size:12px;
		@include wid;
		height:28px;
		.noticeicon{
			padding-left:22px;
			height:28px;
			line-height:28px;
			float:left;
			background:url("../images/megaphone.png") no-repeat 2px 5px;
			font-weight:700;
			text-align:right;
			color:#fa3778;
		}
		.broadcast_content{
			width:270px;
			height:28px;
			overflow:hidden;
			float:left;
			margin-left:20px;
			ul{
				width:100%;
				height:168px;
				li{
					width:100%;
					height:28px;
					line-height:28px;
					opacity:1;
					a{
						color:#999999;
						display:inline-block;
						line-height:28px;
					}
				}
			}
		}
	}
}
/*每日必看*/
.must_check{
	font-size:12px;
	@include wid;
	overflow:hidden;
	padding:0 2px;
	.must_checkimg{
		width:1200px;
		height:26px;
		margin-top:10px;
		margin-bottom:20px;
		background:url("../images/must_check.png") no-repeat;
	}
	.must_check_container{
		overflow: hidden;
		a{  
			width:592px;
			float:left;
			.must_check_item{
				width:592px;
				height:260px;
				overflow:hidden;
				background:#fff;
				margin-bottom:16px;
				border:1px solid #eee;
				img{
					width:360px;
					height:100%;
					display:block;
					float:left;
				}
				.must_check_info{
					width:230px;
					height:100%;
					float:right;
					position:relative;
					.must_check_title{
						text-align:center;
						margin-top:60px;
						font-size:22px;
						color:#e93b78;
					}
					.must_check_subtit{
						text-align:center;
						color:#5a5a5a;
						font-size:17px;
						margin-top:10px;
					}
					.must_check_date{
						text-align:center;
						color:#5a5a5a;
						font-size:13px;
						margin-top:3px;
					}
					.must_check_btn{
						display:block;
						width:108px;
						height:32px;
						line-height:32px;
						text-align:center;
						position:absolute;
						bottom:50px;
						left:62px;
						color:#fff;
						font-size:16px;
						background-color:#e93b78;
						letter-spacing:1px;
						border:none;
					}
				}
			}
		}
	}
}
/*限时特卖*/
.limit{
	.limit_head{
		@include wid;
		height:26px;
		background:url("../images/limitted_offer.png") no-repeat;
		margin-bottom:10px;
		margin-top:34px;
	}
	.timeend{
		font-size:20px;
		text-align:center;
		color:#3e3e3e;
	}
	.limitcommodity{
		@include wid;
		font-size:12px;
		a{
			.limit_item{
				width:1200px;
				height:360px;
				overflow:hidden;
				position:relative;
				margin-top:26px;
				background:#fff;
				.limit_weapper{
					width:640px;
					height:360px;
					position:relative;
					float:left;
					overflow: hidden;
					img{
						width:100%;
						height:100%;
					}
					i{
						width:68px;
						height:68px;
						position:absolute;
						left:16px;
						top:12px;
						padding:23px 20px 0 0;
						text-align:center;
						display:block;
						background:url("../images/discount_circle.png") no-repeat;
						z-index:1;
						b{
							color:#fff;
							font-size:24px;
							font-weight:normal;
							width:68px;
							display:block;
							span{
								font-size:16px;
								font-weight:bold;
							}
						}
					}
				}
				.limitinfo{
					width:480px;
					height:244px; 
					margin:40px 40px 0 0;
					float:right;
					position:relative;
					.counttime{
						height:24px;
						padding:0 10px;
						background:#414141;
						color:#fff;
						line-height:24px;
						text-align:center;
						font-size:13px;
						display:inline-block;
					}
					.limitinfo_intro{
						width:100%;
						height:120px;
						font-size:17px;
						line-height:30px;
						margin:10px 0;
						color:#222;
					}
					.limitinfo_title{
						width:100%;
						height:20px;
						position:absolute;
						bottom:44px;
						left:0;
						font-size:13px;
						overflow:hidden;
						white-space:nowrap;
						text-overflow:ellipsis;
						color:#666;
					}
					.limitinfo_price{
						width:100%;
						height:30px;
						position:absolute;
						bottom:0;
						left:0;
						.limitinfo_price_cur{
							font-weight:600;
							color:#fc3f83;
							float:left;
							height:30px;
							line-height:30px;
							.price_cur_sig{
								font-size:20px;
								display:block;
								float:left;
								margin-top:-4px;
							}
							.price_cur_num{
								font-size:32px;
								line-height:30px;
								font-family:"Arial";
							}
						}
						.limitinfo_price_old{
							color:#999;
							float:left;
							margin-top:9px;
							margin-left:7px;
							position:relative;
							line-height:23px;
							height:23px;
							font-size:13px;
							.price_old_sig{
								text-decoration:line-through;
							}
						}
					}
				}
				.limit_bottom{
					width:480px;
					height:32px;
					position:absolute;
					bottom:42px;
					right:42px;
					.limit_bottom_sold{
						width:100px;
						height:13px;
						line-height:13px;
						margin-top:19px;
						float:left;
						color:#999;
					}
					.limitbtn{
						width:92px;
						height:32px;
						line-height:32px;
						display:block;
						float:right;
						text-align:center;
						cursor:pointer;
						background:#e93b78;
						color:#fff;
						font-size:14px;
						letter-spacing:1px;
						border:none;
					}
				}
			}
		}
	}
	.muchselling{
		text-align:center;
		padding-top:20px;
		.selling{
			display:block;
			width:160px;
			border-radius:24px;
			background:#fc3f83;
			height:36px;
			line-height:36px;
			font-size:14px;
			color:#fff;
			margin:0 auto;
			position:relative;
			span{
				border-left:6px solid #fff;
				border-right:none;
				border-top:5px solid transparent;
				border-bottom:5px solid transparent;
				position:absolute;
				bottom:13px;
				right:28px;
			}
		}
	}
}
/*销售排行*/
@mixin rlist{
	width:362px;
	height:80px;
	padding:10px;
	position:relative;
	border-top:1px solid #eee;				
}
.sales{
	padding-bottom:30px;
	.salesrank{
		@include wid;
		overflow:hidden;
		.salesrankimg{
			@include wid;
			height:26px;
			background:url("../images/title_ranking.png") no-repeat;
			margin-top:38px;
			margin-bottom:26px;
		}
		.ranklist{
			.skinranklist{
				width:382px;
				border-top:2px solid #fc3f83;
				background:#fff;
				float:left;
				margin-right:27px;
				.skin_rank_list_hd{
					width:100%;
					height:64px;
					line-height:64px;
					text-align:center;
					font-size:22px;
					color:#111;
				}
				.rankitem{
					@include rlist;
					a{
						img{
							width:80px;
							height:80px;
							float:left;
						}
					}
					.rankiteminfo{
						width:272px;
						height:80px;
						float:right;
						.rankiteminfoname{
							width:100%;
							height:36px;
							line-height:18px;
							overflow:hidden;
							margin-top:13px;
							font-size:13px;
							a{
								color:#222;
							}
						}
						.rankiteminfoprice{
							width:100%;
							height:20px;
							margin-top:7px;
							.curnum{
								float:left;
								color:#fc3f83;
								font-size:16px;
								line-height:20px;
								height:20px;
							}
							.oldnum{
								float:left;
								margin-left:5px;
								color:#999;
								height:21px;
								line-height:21px;
								line-height:21px;
							}
							.soldnum{
								float:right;
								line-height:20px;
								color:#999;
								font-size:11px;
								margin-right:10px;
							}
						}
					}
				}
			}
			.makeupranklist{
				width:382px;
				border-top:2px solid #fc3f83;
				background:#fff;
				float:left;
				margin-right:27px;
				.makeup_rank_list_hd{
					width:100%;
					height:64px;
					line-height:64px;
					text-align:center;
					font-size:22px;
					color:#111;
				}
				.rankitem{
					@include rlist;
					a{
						img{
							width:80px;
							height:80px;
							float:left;
						}
					}
					.rankiteminfo{
						width:272px;
						height:80px;
						float:right;
						.rankiteminfoname{
							width:100%;
							height:36px;
							line-height:18px;
							overflow:hidden;
							margin-top:13px;
							font-size:13px;
							a{
								color:#222;
							}
						}
						.rankiteminfoprice{
							width:100%;
							height:20px;
							margin-top:7px;
							.curnum{
								float:left;
								color:#fc3f83;
								font-size:16px;
								line-height:20px;
								height:20px;
							}
							.oldnum{
								float:left;
								margin-left:5px;
								color:#999;
								height:21px;
								line-height:21px;
								line-height:21px;
							}
							.soldnum{
								float:right;
								line-height:20px;
								color:#999;
								font-size:11px;
								margin-right:10px;
							}
						}
					}
				}
			}
			.nurseranklist{
				width:382px;
				border-top:2px solid #fc3f83;
				background:#fff;
				float:left;
				.nurse_rank_list_hb{
					width:100%;
					height:64px;
					line-height:64px;
					text-align:center;
					font-size:22px;
					color:#111;
				}
				.rankitem{
					@include rlist;
					a{
						img{
							width:80px;
							height:80px;
							float:left;
						}
					}
					.rankiteminfo{
						width:272px;
						height:80px;
						float:right;
						.rankiteminfoname{
							width:100%;
							height:36px;
							line-height:18px;
							overflow:hidden;
							margin-top:13px;
							font-size:13px;
							a{
								color:#222;
							}
						}
						.rankiteminfoprice{
							width:100%;
							height:20px;
							margin-top:7px;
							.curnum{
								float:left;
								color:#fc3f83;
								font-size:16px;
								line-height:20px;
								height:20px;
							}
							.oldnum{
								float:left;
								margin-left:5px;
								color:#999;
								height:21px;
								line-height:21px;
								line-height:21px;
							}
							.soldnum{
								float:right;
								line-height:20px;
								color:#999;
								font-size:11px;
								margin-right:10px;
							}
						}
					}
				}
			}
		}
	}
}
.base{
	padding-top:30px;
	background:#f1f1f1;
	.basepro{
		@include wid;
		.baseproimg{
			width:1200px;
			height:26px;
			background:url("../images/new_arrival.png");
			margin:0 auto;
			margin-bottom:26px;
		}
		.newlist{
			width:100%;
			overflow:hidden;
			.newitem{
				width:288px;
				height:378px;
				background:#fff;
				border:none;
				float:left;
				margin:0 12px 12px 0;
				border:1px solid #fff;
				.newitem_img{
					height:270px;
					width:270px;
					padding:10px;
					position:relative;
					a{
						img{
							width:100%;
							height:100%;
						}
					}
					.newicon{
						width:40px;
						height:40px;
						position:absolute;
						top:10px;
						left:10px;
						background:#80b53f;
						span{
							display:block;
							padding:6px 0;
							font-size:13px;
							line-height:13px;
							color:#fff;
							text-align:center;
						}
					}
					.country_brand{
						position:absolute;
						top:10px;
						right:16px;
						width:80px;
						height:20px;
						i{
							display:inline-block;
							width:20px;
							height:20px;
						}
						span{
							font-size:12px;
							line-height:20px;
							height:20px;
							display:block;
							float:right;
							color:#999;
						}
					}
				}
				.newiteminfo{
					width:250px;
					height:33px;
					line-height:16px;
					padding:0 20px;
					margin-bottom:16px;
					overflow:hidden;
					a{
						font-size:13px;
						color:#222;
					}
				}
				.newitemprice{
					width:250px;
					height:20px;
					padding:0 20px;
					margin-bottom:20px;
					.pricesign{
						float:left;
						display:block;
						margin-top:-1px;
						font-size:13px;
						color:#fc3f83;
					}
					.newprice{
						display:block;
						float:left;
						font-size:18px;
						color:#fc3f83
					}
					.oldprice{
						display:block;
						color:#999;
						margin-left:5px;
						margin-top:3px;
						line-height:21px;
						height:21px;
						text-decoration:line-through;
					}
				}
			}
		}
	}
}

/*页脚*/
.footer{
	width:100%;
	background:#fff;
	border-top:1px solid #ddd;
	.footeritem{
		@include wid;
		height:120px;
		ul{
			li{
				width:150px;
				height:100%;
				float:left;
				overflow:hidden;
				margin-right:80px;
				i{
					width:32px;
					height:32px;
					margin-top:42px;
					float:left;
					display:inline-block;
					background-image:url("../images/promise_icon.png");
					background-repeat:no-repeat;
				}
				.item2{
					background-position:-56px 0;
				}
				.item3{
					width:39px;
					background-position:-112px 0;
				}
				.item4{
					width:38px;
					background-position:-177px 0;
				}
				.item5{
					background-position:-236px 0;
				}
				p{
					width:104px;
					margin-left:14px;
					float:left;
					height:50px;
					margin-top:38px;
				}
			}
			.list1{
				width:182px;
			}
			.list2{
				width:162px;
			}
			.list3{
				width:168px;
			}
			.list4{
				width:193px;
			}
			.list5{
				margin-right:0;
				width:166px;
			}
		}
	}
	.clearfix{
		@include wid;
		border-top:1px solid #eee;
		height:246px;
		div{
			width:90px;
			margin-right:90px;
			margin-top:16px;
			float:left;
			p{
				a{
					color:#222;
					font-size:14px;
					font-weight:bold;
				}
			}
			ul{
				li{
					letter-spacing:1px;
					a{
						color:#999;
						font-size:12px;
					}
				}
			}
		}
		.helper_5{
			margin-right:0;
		}
		.footercode{
			width:300px;
			margin-right:0;
			margin-top:5px;
			float:right;
			div{
				width:110px;
				margin-top:0px;
				margin-right:40px;
				float:left;
				img{
					width:128px;
					height:128px;
				}
				p{
					font-size:12px;
					padding-left:10px;
					font-weight:bold;
					color:#111;
				}
			}
		}
	}
}
/*网站信息*/
.information{
	width:100%;
	background:#000;
	.info{
		@include wid;
		padding:26px 0;
		.link{
			a{
				display:inline-block;
				padding:0px 10px;
				color:#fff;
				font-size:12px;
				border-right:1px solid #fff;
			}
			.first_link{
				padding-left:0;
			}
			.last_link{
				border-right:none;
			}
		}
		.copy{
			padding-top:14px;
			color:#fff;
			font-size:12px;
		}
	}
}
/*右侧购物栏*/
.sidebar{
	width:40px;
	height:100%;
	z-index:1000;
	position:fixed;
	top:0;
	right:0;
	background:#4c4c4c;
	.account{
		width:38px;
		height:38px;
		z-index:9;
		cursor:pointer;
		text-align:center;
		line-height:38px;
		&:hover{
			background:#ec3e7d;
		}
		a{
			display:block;
			width:100%;
			height:100%;
			i{
				font-size:16px;
				color:#c69a62;
			}
		}
	}
	.shopingcar{
		margin:10px auto;
		padding:15px 10px;
		border-top:1px solid #666;
		border-bottom:1px solid #666;
		height:90px;
		text-align:center;
		&:hover{
			background:#ec3e7d;
		}
		a{
			display:block;
			font-size:12px;
			width:20px;
			height:100px;
			i{
				font-size:26px;
				color:#c69a62;
			}
			.shopnum{
				display:block;
				width:12px;
				padding:0 3px;
				border-radius:10px;
				background:#ec3e7d;
				color:#fff;
			}
		}
		.shopcarlist{
				width:300px;
				height:100%;
				position:fixed;
				top:0;
				right:38px;
				background:#fff;
				border:1px solid #eaeaea;
				.cart_title{
					height:40px;
					line-height:40px;
					font-size:12px;
					color:#333;
					padding-left:15px;
					border-bottom:1px solid #eaeaea;
					position:relative;
					text-align:left;
					.cart_close{
						position:absolute;
						top:50%;
						margin-top:-10px;
						right:12px;
						background:#fff;
						border:none;
						i{
							color:#333;
							font-size:16px;
						}
					}
				}
				.cart_shop{
					width:300px;
					height:70%;
					min-height: 300px;
					overflow:hidden;
					.cart_choice{
						position:relative;
						width:280px;
						height:36px;
						line-height:36px;
						padding-left:20px;
						text-align: left;
						background:#f2f2f2;
						border-bottom:1px solid #ebebeb;
						border-top:1px solid #ebebeb;
						input{
							position:absolute;
							top:50%;
							left:10px;
							margin-top:-5px;
						}
						span{
							font-size:14px;
							font-weight:bold;
							margin-left:10px;
						}
					}
					.cart_shop_list{
						position:relative;
						width:240px;
						height:80px;
						padding-left:60px;
						margin-top:10px;
						input{
							position:absolute;
							top:50%;
							left:30px;
							margin-top:-10px;
						}
						.cart_shop_item{
							text-align: left;
							img{
								width:70px;
								height:70px;
								float:left;
							}
							p{
								margin-left:80px;
								color:#333;
								display:block;
								font-size:14px;
								text-align:left;
								margin-bottom:10px;
								overflow:hidden; 
								text-overflow:ellipsis;
								display:-webkit-box;
								-webkit-box-orient:vertical;
								-webkit-line-clamp:2;
							}
							.price{
								color:#ec3e7d;
								font-weight:bold;
								margin-left: 10px;
								margin-right:40px;
							}
							.number{
								font-size:12px
							}
							i{
								color:#c69a62;
								font-size:20px;
								float:right;
								margin-right:10px;
								cursor:pointer;
							}
						}
					}
					.cart_item_list{
						width:auto;
						height:auto
					}
				}
			.cart_checkout{
				position:absolute;
				bottom:20px;
				left:20px;
				p{
					width:260px;
					color:#666;
					font-size:14px;
					margin-bottom:10px;
					span{
						color:#ec3e7d;
					}
				}
				button{
					width:260px;
					height:40px;
					background:#ec3e7d;
					border:none;
					a{
						height:100%;
						width:100%;
						color:#fff;
						text-align:center;
						line-height:40px;
						font-size:22px;
					}
				}
			}	
		}
	}
	.collection{
		width:38px;
		height:38px;
		z-index:9;
		cursor:pointer;
		text-align:center;
		line-height:38px;
		&:hover{
			background:#ec3e7d;
		}
		a{
			display:block;
			width:100%;
			height:100%;
			i{
				font-size:20px;
				color:#c69a62;
			}
		}
	}
	.historical{
		width:38px;
		height:38px;
		z-index:9;
		cursor:pointer;
		text-align:center;
		line-height:38px;
		&:hover{
			background:#ec3e7d;
		}
		a{
			display:block;
			width:100%;
			height:100%;
			i{
				font-size:20px;
				color:#c69a62;
			}
		}
	}
	.iconbottom{
		position:absolute;
		bottom:0;
		left:0;
		.customer{
			width:38px;
			height:38px;
			z-index:9;
			cursor:pointer;
			text-align:center;
			line-height:48px;
			&:hover{
				background:#ec3e7d;
			}
			a{
				display:block;
				width:100%;
				height:100%;
				i{
					font-size:20px;
					color:#c69a62;
				}
			}
		}
		.code{
			width:38px;
			height:38px;
			z-index:9;
			cursor:pointer;
			text-align:center;
			line-height:48px;
			&:hover{
				background:#ec3e7d;
			}
			a{
				display:block;
				width:100%;
				height:100%;
				i{
					font-size:20px;
					color:#c69a62;
				}
			}
		}
		.top{
			width:38px;
			height:48px;
			z-index:9;
			cursor:pointer;
			text-align:center;
			line-height:48px;
			margin-bottom: 20px;
			a{
				display:block;
				width:100%;
				height:100%;
				p{
					color:#fff;
					margin-top:-30px;
				}
				i{
					font-size:20px;
					color:#c69a62;
				}
			}
		}
	}
}
/*左侧楼梯*/
.stairs{
	width:55px;
	height:248px;
	position:absolute;
	top:630px;
	left:30px;
	margin-left:-75px;
	z-index:9999;
	background:#fff;
	display:none;
	div{
		width:55px;
		height:62px;
		text-align:center;
		line-height:56.5px;
		a{
			width:100%;
			height:100%;
			display:block;
			color:#3e3e3e;
			i{
				display:block;
				width:100%;
				height:25px;
				font-size:25px;
				margin:0 auto;
			}
		}
	}
}

